.icon-apple { background-image: url('app/icons/apple.png'); background-repeat: no-repeat; }

.icon-music-amazon { background-image: url('app/icons/music-amazon.png'); background-repeat: no-repeat; }

.icon-music-apple { background-image: url('app/icons/music-apple.png'); background-repeat: no-repeat; }

.icon-music-google { background-image: url('app/icons/music-google.png'); background-repeat: no-repeat; }

.icon-music-itunes { background-image: url('app/icons/music-itunes.png'); background-repeat: no-repeat; }

.icon-music-spotify { background-image: url('app/icons/music-spotify.png'); background-repeat: no-repeat; }

