// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$color: (
	faded: 			#000000,
	main: 			#000000,
	dark: 			#000000,
);

$yellow: 	#fff98b;
$blue: 		#5c6f86;
$white: 	#ffffff;
$gray: 		#a79e9b;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)