.flex {
    display: flex;
}

.dsk--flex {
    @include media($screen-sm) {
        display: flex;
    }
}

.flex--wrap {
    flex-wrap: wrap;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--end {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align--items-start {
    align-items: start;
}

.align--items-center {
    align-items: center;
}
.align--items-baseline {
    align-items: baseline;
}
// 
// Grid
//

.max-wrap {
    max-width: $max-wrap;
    box-sizing: content-box;
}

.margin--center {
    margin: 0 auto;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.content-box {
    box-sizing: content-box;
}

.vertical--center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden--mob {
    @include media($max-sm) {
        display: none !important;
    }
}

.hidden--md {
    @include media($max-md) {
        display: none !important;
    }
}

.hidden--lg {
    @include media($max-lg) {
        display: none !important;
    }
}

.hidden--dsk {
    @include media($screen-sm) {
        display: none !important;
    }
}