.section--music-links {
    a {
        padding: 5px 15px;
        border-radius: 4px;
        box-shadow: -1px 3px 8px 0px transparentize($blue, 0.93);
        border: 1px solid transparentize($blue, 0.93);
        margin-bottom: 1em;

        i {
            display: inline-block;
            width: 25px;
            height: 25px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 13px;

            svg {
                height: 100%;
            }
        }
    }
}