---
layout: default
---
<section class="bg--white">
	{{ content }}
	<div class="section--music-links flex flex--wrap justify--between grid--one grid--sm-three-fourths margin--center spacing--vert-2 spacing--dsk-vert-3 spacing--gutter">
		<a class="text--uppercase bg--yellow" href="{{site.apple}}" target="_blank"><i class="icon-music-apple" data-grunticon-embed></i><span>Apple Music</span></a>
		<a class="text--uppercase bg--yellow" href="{{site.google}}" target="_blank"><i class="icon-music-google" data-grunticon-embed></i><span>Google Play</span></a>
		<a class="text--uppercase bg--yellow" href="{{site.amazon}}" target="_blank"><i class="icon-music-amazon" data-grunticon-embed></i><span>Amazon</span></a>
		<a class="text--uppercase bg--yellow" href="{{site.itunes}}" target="_blank"><i class="icon-music-itunes" data-grunticon-embed></i><span>iTunes</span></a>
		<a class="text--uppercase bg--yellow" href="{{site.spotify}}" target="_blank"><i class="icon-music-spotify" data-grunticon-embed></i><span>Spotify</span></a>
	</div>
	<div class="margin--center margin--vert- margin--dsk-vert- grid--sm-half spacing--gutter-mob">
		<img src="{{site.albumart}}" alt="Taylor Phillips, Just Like The Movies">
	</div>
</section>